/** { background-color: #fafafa; foreground-color:#000}*/
*{background-color:rgba(0,0,0,0)}
#pane-side{ background-color:#000; }
div.chat-drag-cover{ background-color: #999;}
div.chat{ background-color:rgba(40,40,40,1); color:#fff}
div.block-compose{background-color:rgba(40,40,40,1)}
div.input-container{background-color:#888}
header.pane-header.pane-list-header{background-color:rgba(40,40,40,1)}
header.pane-header{background-color:rgba(40,40,40,1)}
div.chatlist-panel-search{background-color:rgba(40,40,40,1)}
div.message-out{background-color:#ff8285}
div.app-wrapper{background-color:rgba(40,40,40,1)}
@-moz-document domain("web.whatsapp.com")
{
  :root
  {
    --select: /*[[select-color]]*/; --main: #FFFFFF;
  }

  
  div[class*="chat"]:before, div[class*="chat"]:after, .list-icons .chat.active:after
  {
    content: none!important;
  }

  .chatlist .active.chat.hover, .chatlist .chat.hover
  {
    transition: background-color .3s ease-in-out!important;
  }

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  {
 /*[[font]]*/;
  }

  ::selection, html[dir] ._1UvQg
  {
    background: var(--select)!important;
    color: var(--main)!important;
  }

  ::-moz-selection
  {
    background: var(--select)!important;
    color: var(--main)!important;
  }

  .block-compose, .btn, .btn-fill, .chat, .chat-avatar, .chat-body, .chat-time, .chat-time-title, .chatlist-plain, .cont-input-search, .header-secondary, .input, .input-container, .intro-text, .intro-title, .link-preview-body, .media-viewer, .pane-chat-footer, .pane-footer, .pane-subheader, .pane.pane-intro.pane-two, .popup, .text-tip
  {
    background-color: rgba(0, 0, 0, .65)!important;
    border: 0!important;
    color: var(--main)!important;
  }

  .intro-image, [data-asset-intro-image]
  {
    background: url(https://i.imgur.com/bstq1Iw.png) center center no-repeat!important;
    background-size: contain!important;
  }

  .media-panel-header, .pane-preview
  {
    background: rgba(0, 0, 0, .65)!important;
  }

  .btn-background, .btn-default, .btn-plain, .chat-hover, .compose-box-items-overlay-container, .compose-popup-panel, .drawer-header-popup, .drawer-header-small, .drawer-section-body .input-text, .gif-search-container, .incoming-msgs, .list-title, .media-canvas-component, .media-caption .input-text, .media-collection, .media-gallery, .multi-controls, .popup-controls-item, .ppt-counter, .quoted-msg, .chatlist.chatlist-group-msg, .app.three.pane.drawer, .chatlist.chatlist-group-msg, .drawer-section-title
  {
    background: rgba(0, 0, 0, .85)!important;
    color: var(--main)!important;
  }

  html, body, .header-title, .link-preview-description, .link-preview-title, .selectable-text, .title, .ellipsify, .row-main, .butterbar-text, .butterbar-title, .drawer-header-offset, .empty, .empty-text, .message-system-body, .message-text, .msg-unread-body, .pane-chat-tile-container, .pane-subheader, .popup-title, #platforms .entry-platform-text, #platforms .entry-platform-title, #window, #window .entry-controls, #window .entry-subtitle, #window .entry-title, .hint, .label, .menu-tabs .menu-item.active, select, .controls-section.version, .popup-container, .popup-container .input-emoji, .popup-container .input-spacer, .popup-container input, .document-body, .document-meta, svg, .message.message-call_log, .chat-subtitle.chat-subtitle-header, .entry-text, .entry-title, .entry-subtitle, .entry-platform, .well-chat-name, .well-chat-secondary, .U0cj3, ._21zbN, ._2dGjP, .iHhHL, ._1ClcF, ._3cK8a, ._3LL06, ._1sYdX, .drawer-header-small .drawer-title, .iYPsH, ._3ml_s, ._2BXqy, ._32gNX, ._1OS7T, ._1gTKh, ._36ApL, ._1AKfk, ._1sB6s, .chat-secondary, .emojitext.ellipsify.inlineblock, ._1S4i5
  {
    color: var(--main)!important;
  }

  .dropdown, html[dir] ._2uLFU, html[dir] ._1ArIP
  {
    border-radius: 6px!important;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 1);
  }

  .chat.active
  {
    background: rgba(0,0,0, .8)!important;
  }

  .message-datetime, .chat-meta, .O90ur, ._3EFt_, .audio-duration, .DYGf2
  {
    color: rgba(120,120,120, .5)!important;
  } /* .icon, .icon * { background-image: url(http://svgshare.com/i/2Nw.svg)!important }*/  .pane-chat-tile
  {
 /*[[pane-chat-tile]]*/;
  }

  .message-author
  {
    background: rgba(0,0,0, .07)!important;
    padding-left: .4em!important;
    border-radius: .5em;
  }

  .context-in.context, .context-out.context
  {
    background: 0 0!important;
  }

  .context-icon, .icon.icon-down.btn-context
  {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjEgMjEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIxIDIxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjtmaWxsLW9wYWNpdHk6MC40NTt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNNC44LDYuMWw1LjcsNS43bDUuNy01LjdsMS42LDEuNmwtNy4zLDcuMkwzLjIsNy43TDQuOCw2LjF6Ii8+PC9zdmc+)!important;
  }

  .message-system
  {
    background-color: var(--select)!important;
    text-shadow: 0 1px 1px #000!important;
    font-weight: 400!important;
  }

  .message.message-e2e_notification.message-system.tail
  {
    background-color: rgba(0, 0, 0, .75)!important;
    color: rgba(200,200,200, .6)!important;
    font-weight: 400!important;
  }

  .butterbar
  {
    background: #555!important;
  }

  .backdrop, .backdrop-transparent, html[dir] .fUst5
  {
    background: rgba(0, 0, 0, 1)!important;
  }

  .popup
  {
    box-shadow: 0 17px 50px 0 rgba(80, 80, 80, .3)!important;
  }

  .dropdown-picker .menu-shortcut, .emoji-picker
  {
    background: url(data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wAARCAABAAEDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACv/EABQQAQAAAAAAAAAAAAAAAAAAAAD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AcAD/2Q==)!important;
  }

  .drawer-header-offset
  {
    background: #111!important;
  }

  .pane-chat-footer
  {
    -webkit-box-shadow: 0 -7px 6px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 -7px 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 -7px 6px 0 rgba(0, 0, 0, .2);
  }

  .pane-chat-header, .pane-subheader, .list-search
  {
    -webkit-box-shadow: 0 7px 6px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 7px 6px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 7px 6px 0 rgba(0, 0, 0, .2);
  }

  .icon-search-morph
  {
    border-radius: 100%!important;
  }

  .icon-down
  {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjEgMjEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIxIDIxIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNC44LDYuMWw1LjcsNS43bDUuNy01LjdsMS42LDEuNmwtNy4zLDcuMkwzLjIsNy43TDQuOCw2LjF6Ii8+PC9zdmc+)!important;
  }

  .menu-tabs-marker
  {
    background-color: #ccc!important;
  }

  #side, .active-chat, .active.chat, .animate-enter1.well-input.drawer-section.well, .app.three .animate-enter2.drawer-section.well, .app.three .drawer-section.chatlist.list-icons.animate-enter2.well-simple, .app.three .media-gallery, .app.three .pane .drawer, .app.three .well.well-chat, .bubble, .bubble-text, .chat, .chat-avatar, .chat-body, .chat-drag-cover, .chat-time, .cont-input-search, .drawer-profile .drawer-header, .drawer-profile .drawer-title, .drawer-profile .hint, .drawer-profile .input, .dropdown.dropdown-right, .gif-search-row-input, .icon-search-morph, .infinite-list-item, .infinite-list-item-transition, .input, .input-container, .list-title, .menu-horizontal .menu-item, .message-in, .message-out, .msg, .pane, .pane-body, .pane-chat-footer, .pane-subheader:after, .tail, .two, .well-simple, header:after, .list-search, .input-search, .list-action, .list-action:hover
  {
    background: 0 0!important;
  }

  .list-action:hover
  {
    background: rgba(0,0,0, .15)!important;
  }

  #app
  {
    background-image: url(/*[[background]]*/)!important;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
  }

  .block-compose
  {
    background: 0 0!important;
  }

  .chatlist, .empty, .pane-header, .search-container, .subheader-search, .list-search, .intro.pane-body, .RLfQR, html[dir] .gQzdc
  {
    background: rgba(0, 0, 0, 1)!important;
  }

  .search-container, .subheader-search, .search.active, .input-search, .chat-title
  {
    color: var(--main)!important;
    border: 0!important;
  }

  .message-in, .message-out
  {
    background: rgba(0, 0, 0, 1)!important;
  }

  .message-in .tail-container
  {
    background: url(https://i.imgur.com/0Pqkz41.png)!important;
    background-size: contain!important;
  }

  .message-out .tail-container
  {
    background: url(https://i.imgur.com/t6do7cQ.png)!important;
    background-size: contain!important;
  }

  .dropdown, html[dir] ._2uLFU, html[dir] ._1ArIP
  {
    background: rgba(0, 0, 0, 1)!important;
  }

  .dropdown.dropdown-right, .highlighted-menu-item, html[dir] ._28zBA._14ou2
  {
    background: var(--select)!important;
  }

  .unread-count
  {
    background-color: var(--select)!important;
  }

  .context-icon
  {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjEgMjEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIxIDIxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjtmaWxsLW9wYWNpdHk6MC45O308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00LjgsNi4xbDUuNyw1LjdsNS43LTUuN2wxLjYsMS42bC03LjMsNy4yTDMuMiw3LjdMNC44LDYuMXoiLz48L3N2Zz4=)!important;
  }

  .media-canvas
  {
    outline-color: transparent!important;
  }

  .msg-unread
  {
    background: rgba(0, 0, 0, .15)!important;
    border: 0!important;
  }

  .msg-unread-body
  {
    background: rgba(0, 0, 0, .75)!important;
  }

  .menu-tabs:before, .qr-wrapper-container, .qrcode
  {
    background-color: var(--main)!important;
  }

  ._2EZ_m
  {
    padding: 1rem!important;
    background-color: #000!important;
  }

  .qr-wrapper-container div
  {
    padding: 1rem;
    width: auto;
    height: auto;
  }

  .menu-tabs .menu-item
  {
    color: #bbb!important;
  }

  .link-gallery .hover
  {
    background: rgba(0, 0, 0, .85)!important;
  }

  .media-viewer, .media-viewer.media-viewer-animate, html[dir] ._1zcz2
  {
    background-color: rgba(0, 0, 0, .97)!important;
  }

  .media-collection, .media-panel-header
  {
    background-color: transparent!important;
    border-top-color: #222!important;
  }

  .pane.pane-three .menu-tabs.menu-tabs-lists .active, html[dir] ._39pS-, html[dir] ._1sB6s
  {
    background-color: #000!important;
  }

  .app.three, .app.three .animate-enter1.well-input.drawer-section.well, .app.three .animate-enter1.well-input.drawer-section.well .input, .app.three .hint.animate-enter1.well-transparent, .pane.pane-three .drawer-header, .pane.pane-three .menu-tabs.menu-tabs-lists, .qr-platforms, html[dir] ._1CRb5, #startup, #initial_startup, html[dir] ._3qlW9, .chatlist-panel, .chatlist-panel-body, html[dir] ._2zkF3, ._2wP_Y, html[dir] ._2flas, html[dir] ._1CkkN, html[dir] .ZwkQK, html[dir] .Um7sh, html[dir] ._1AKfk, html[dir] .TYhk9, .pane-chat, .drawer-header, .menu-tabs.menu-tabs-lists, html[dir] ._2YdsD
  {
    background-color: transparent!important;
  }

  .pane.pane-intro.pane-two
  {
    background-color: rgba(0, 0, 0, .6)!important;
  }

  .intro-text, h1.intro-title
  {
    background-color: transparent!important;
  }

  .pane.pane-intro.pane-two:after
  {
    border-top-color: rgba(0, 0, 0, .75)!important;
  }

  .drawer-profile, .pane.pane-three
  {
    background-color: rgba(0, 0, 0, .95)!important;
  }

  .butterbar, html[dir] .WX_XW
  {
    background-color: rgba(0, 0, 0, .75)!important;
  }

  #wrapper
  {
    background: url(http://i.imgur.com/sxDFcq5.png)!important;
    background-size: 100% auto!important;
    background-position-y: 50%!important;
  }

  #platforms, #wrapper .hint, #wrapper:before
  {
    background-color: transparent!important;
  }

  #window
  {
    background-color: rgba(0, 0, 0, .85)!important;
  }

  .qr-button
  {
    background-color: #000!important;
  }

  #platforms .icon.icon-platform-android, #platforms .icon.icon-platform-iphone, #platforms .icon.icon-platform-wp
  {
    background-color: rgba(0, 0, 0, .5)!important;
  }

  .pane.pane-one, .pane.pane-one .drawer-body, .pane.pane-one .drawer-header
  {
    background-color: transparent!important;
  }

  .pane.pane-one .drawer
  {
    background-color: rgba(0, 0, 0, .95)!important;
  }

  .starred-msg-wrapper.hover, .starred-msg-wrapper.hover.active
  {
    background-color: rgba(0,0,0, .1)!important;
  }

  ._10anr.vidHz._14ou2._28zBA, html[dir] .iHLo1, html[dir] ._3hV1n
  {
    background-color: var(--select)!important;
  }

  .drawer.drawer-blocked .list-action, .pane.pane-two .drawer.drawer-media, .pane.pane-two .flow-drawer-container, .pane.pane-two .input.input-text, .pane.pane-two .media-body-container, .starred-msg-wrapper:after, .starred-msg-wrapper:before, flow-drawer-container
  {
    background-color: transparent!important;
  }

  .hint, .label, select, .row.row-drawer-item .row-body, html[dir] ._3YwRO
  {
    border: 0!important;
  }

  select
  {
    border-bottom: 1px solid #999!important;
  }

  .drawer.drawer-blocked .list-action-body, .list-action
  {
    color: #ddd!important;
    border: 0!important;
  }

  .popup-container .input-wrapper
  {
    border-bottom-color: #aaa!important;
  }

  .pane.pane-two .drawer-body, .pane.pane-two .drawer-header-offset, .pane.pane-two .drawer.drawer-media, .pane.pane-two .media-body, .pane.pane-two .media-collection, .drawer.copyable-area, ._36ApL
  {
    background-color: rgba(0, 0, 0, .95)!important;
  }

  .pane.pane-two .label-text.label-text-float
  {
    color: #ccc!important;
  }

  .chatlist-panel-body .active.chat.hover
  {
    background-color: rgba(0,0,0, .15)!important;
  }

  .chatlist-panel-body .chat.hover
  {
    background-color: rgba(0,0,0, .065)!important;
    transition: all .3s ease-out!important;
  }

  .chatlist-panel-body .chat.active
  {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEkAAAABCAYAAACSeIPdAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAA4SURBVHjaYmRgYChlYGD4D8X/sLCx0f+I5MPE/qLR//BgmLp/eNTisxcbG5ff0NlYMQAAAP//AwB9V0gDqUk7mAAAAABJRU5ErkJggg==') repeat-y!important;
    background-color: rgba(0,0,0, .035)!important;
    transition: all .3s ease-in-out!important;
  }

  .chatlist-panel-body .unread.chat, .chatlist-panel-body .unread.chat.active
  {
    transition: background-color .3s ease-in-out!important;
  }

  .chatlist-panel-body .unread.chat
  {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEkAAAABCAYAAACSeIPdAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAA6SURBVHjaYvz//38cAwPDfyj+xwAB/5DEkOXwsXHR6GL/iNBHivn/iHAjMf5jQJJHFvsPAAAA//8DAGTkRgBgXTXXAAAAAElFTkSuQmCC') repeat-y!important;
    background-color: rgba(0,0,0, .07)!important;
  }

  .chatlist-panel-body .unread.chat.active
  {
    background-color: rgba(0, 0, 0, .78)!important;
  }

  .backdrop, .drawer.drawer-edit, .popup.popup-box
  {
    background-color: transparent!important;
  }

  .backdrop .flow-drawer-edit, .media-body-container-background
  {
    background-color: rgba(0, 0, 0, 1)!important;
  }

  .avatar-picker-controls
  {
    background-color: #000!important;
  }

  .pane-footer.pane-chat-footer
  {
    background-color: rgba(0, 0, 0, .5)!important;
  }

  .matched-text
  {
    color: rgba(50, 166, 0)!important;
  }

  .chatlist-panel-body, .chatlist-panel-search, .drawer-section-body.chatlist, .animate-enter.well-simple-body.drawer-section.well, .drawer-body-msg-info, .chatlist.chatlist-group-msg .infinite-list-viewport, .chatlist.chatlist-group-msg .drawer-section-footer, .drawer-section.well, .well
  {
    background-color: transparent!important;
  }

  .document-body
  {
    background: #000!important;
  }

  .menu-tabs-emoji
  {
    background: rgba(0, 0, 0, .8)!important;
  }

  .img.icon.icon-ack.icon-status-check, .img.icon.icon-ack.icon-status-dblcheck, .img.icon.icon-ack.icon-status-dblcheck-ack, .img.icon.icon-ack.icon-status-time, .img.icon.contact-msg-info-title-icon.icon-status-dblcheck, .img.icon.contact-msg-info-title-icon.icon-status-dblcheck-ack, .img.icon.icon-star-btn, .img.icon.btn-media-forward.icon-forward, .img.icon.icon-download, .img.icon.icon-star, .img.icon.icon-delete, .img.icon.icon-forward, .img.icon.icon-download, .img.icon.icon-send, .img.icon.group-msg-info-title-icon.icon-status-dblcheck-ack, .img.icon.group-msg-info-title-icon.icon-status-dblcheck, .img.icon.icon-meta.icon-muted, html[dir] ._3XczR
  {
    background-image: none!important;
  }

  .list-search:after
  {
    display: none!important;
  }

  .section-header
  {
    background-color: rgba(0, 0, 0, .3)!important;
    color: rgba(0,0,0, .8) !important;
    font-weight: 600!important;
    font-size: .8em!important;
  }

  .input.input-emoji-search
  {
    color: #111!important;
  }

  .emoji-panel-title
  {
    background-color: rgba(0, 0, 0, .05)!important;
    padding: .3em 1em!important;
    border-radius: .5em!important;
  }

  .message.message-gp2.message-system.tail
  {
    background-color: rgba(0, 0, 0, .3)!important;
    color: rgba(200,200,200, .75)!important;
  }

  .Bmrty
  {
    color: rgba(200,200,200, .725)!important;
  }

  .img.icon.icon-ack.icon-status-dblcheck svg, .img.icon.icon-ack.icon-status-check svg
  {
    fill: var(--main)!important;
    fill-opacity: .45!important;
  }

  .dropdown-item.menu-shortcut.dropdown-item-hover.dropdown-item-text
  {
    background: rgba(0,0,0, .15)!important;
    color: var(--main)!important;
    transition: all .05s!important;
  }

  .qrcode
  {
    width: initial;
    height: initial;
  }

  .qrcode img
  {
    padding: 1em!important;
  }

  .popup-container .popup.popup-tower .popup-body .popup-contents .drawer, html[dir] ._3dGYA, html[dir] ._2FsQ8
  {
    background-color: #000!important;
  }

  .popup-container .popup.popup-tower .popup-body .popup-contents .drawer .drawer-body .column .chatlist.column .infinite-list .infinite-list-viewport .infinite-list-item.infinite-list-item-transition .section-header
  {
    background-color: rgba(0,0,0, .05) !important;
  }

  .pane-chat-body.selectable, .message.message-call_log
  {
    background-color: rgba(0, 0, 0, .5)!important;
  }

  .popup
  {
    border-radius: 9px!important;
    background: rgba(0, 0, 0, .8)!important;
  }

  .popup-title
  {
    text-align: center!important;
  }

  .popup-controls
  {
    text-align: center!important;
    padding: 25px 5px 5px 5px!important;
  }

  .btn-plain, ._1sB6s
  {
    font-weight: 700!important;
    font-size: 12px!important;
    letter-spacing: 1px!important;
    border-radius: 15px!important;
  }

  .btn-plain:hover, html[dir] .MwhOx
  {
    background: #000!important;
  }

  .spam, html[dir] ._3XczR, html[dir] ._3XczR::before
  {
    background-color: transparent!important;
  }

  .spam .spam-button.btn-plain
  {
    background-color: rgba(0,0,0, .1)!important;
  }

  .input-advanced.active, .drawer-multimedia-gallery .menu-tabs-lists, .text-input.active .input-wrapper
  {
    border-bottom: 2px solid var(--main)!important;
  }

  .checkbox-container .checkbox.checked
  {
    background-color: transparent!important;
    border-color: var(--main)!important;
  }

  .drawer-header, .drawer-header-offset, .multi-controls-drawer, .app-wrapper:after, .qr-wrapper:before, html[dir] .wgzvj, html[dir] .gQzdc:after, html[dir] .bZ3B9
  {
    background-color: transparent!important;
  }

  .qr-window
  {
    background-color: rgba(0,0,0, .2)!important;
  }

  .mentions-overlay-container
  {
    background-color: #000!important;
    color: var(--main)!important;
    border-left: 1px solid rgba(0,0,0, 0.08);
    box-shadow: 0px -5px 7px -5px rgba(0,0,0, 0.15)!important;
  }

  .mentions-result.selected
  {
    background-color: rgba(0,0,0, .1)!important;
  }

  ._2DNgV._1i1U7, .jZ4tp._1i1U7
  {
    background: transparent!important;
  }

  html[dir] ._1mq8g, .pane_chat, html[dir] ._2MSJr, #input-chatlist-search
  {
    background-color: #222!important;
    border: #F00!important;
  }

  html[dir] .L89LI
  {
    background-color: #000!important;
    color: var(--main)!important;
  }

  ._1VD7W
  {
    background-color: var(--select)!important;
    border-color: var(--select)!important;
  }

  .infinite-list-item, .chatlist-panel-search, ._2wP_Y
  {
 /*[[border-chat-row]]*/;
  }

  .app-wrapper-web ._3dqpi
  {
 /*[[fullscreen]]*/;
  }

  svg path[fill]
  {
    fill: var(--main)!important;
    fill-opacity: 1!important;
    opacity: 1!important;
  }

  [role="button"]:hover span svg path, [data-icon]:hover svg path, button:hover span svg path, [data-icon="status-dblcheck-ack"] svg path, ._1DZAH[role="button"] [data-icon="msg-dblcheck-ack"] svg path
  {
    fill: var(--select)!important;
  }

  [data-icon="send-light"] svg path
  {
    fill: var(--main)!important;
  }

  .emoji-panel-body-container, .emoji-search-row, .emoji-search-row-input
  {
    background-color: transparent!important;
    background-image: none!important;
  }

  html[dir] ._31WRs ._1DTd4
  {
    border-bottom: 2px solid var(--select)!important;
  }

  button span svg path, button, [role="button"] span svg path, ._10anr:hover button span svg g path[fill]
  {
    fill: var(--main) !important;
    fill-opacity: 1 !important;
    opacity: 1 !important;
  }

  button:hover span svg path, [role="button"]:hover span svg path, ._10anr button span svg g path[fill]
  {
    fill: var(--select) !important;
  }
}
