:root
{
*: color: #ffffff
--mainBg: /*[[mainBg-rgb]]*/; --mainHvr: /*[[mainHvr]]*/;
--txtIcns: /*[[txtIcns]]*/; --mnuPnls: /*[[mnuPnls-rgb]]*/;
--alrt: /*[[alrt]]*/;
}

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, ._2cLHw, ._25Ooe, ._3Bxar, ._2EXPL._1f1zm ._1AwDx, ._1AwDx, ._2zCDG, .Gd51Q._3sgkv, ._3_7SH, .Y9G3K, ._1DZAH, ._1sYdX, ._3LL06, .iYPsH, ._484uz, .Cpiae
{
color: #ffffff !important;
/*[[font-family]]*/
;
}

::selection
{
background-color: var(--alrt) !important;
color: var(--txtIcns) !important;
}

::-moz-selection
{
background-color: var(--alrt) !important;
color: #ffffff !important;
}

body, html[dir] ._3dqpi, html[dir] ._1WliW, html[dir] .gQzdc::after, html[dir] ._2EXPL, html[dir] ._3AwwN::after, html[dir] ._1GX8_, html[dir] ._3oju3, button, html[dir] ._1FKgS::after, html[dir] ._3D9Wd, html[dir] ._1o1sm._2nOMz, html[dir] ._2EXPL._1f1zm, html[dir] ._2EXPL, html[dir] ._1FroB, html[dir] ._1CRb5, html[dir] .bZ3B9, ._2tNFJ, ._2i2ET, html[dir] ._3F6QL._16pR3, html[dir] ._1CSx9, html[dir] ._1CkkN, ._1iopp, html[dir] .YAPQk, .gQzdc, ._1VD7W, html[dir] ._3XpR2, html[dir] ._3gUiM, html[dir] .PNlAR, html[dir] ._2ByZq, html[dir] .Sbkt2, html[dir] ._2rR_l, html[dir] .wDFKR, html[dir] ._3nuGo, html[dir] .GpvML, html[dir] ._2gZno._2UCiX .GpvML::after, html[dir] ._2gZno::after, html[dir] ._1ypOz, html[dir] ._3hV1n, html[dir] .zl5TR, html[dir] .MS-DH._1baOM, html[dir] .MS-DH._2-mCk, html[dir] ._3b2Cf, html[dir] ._3b2Cf::before, html[dir] ._1sGGp._2nFG1, html[dir] ._2lwig._2nFG1, html[dir] ._1AKfk, html[dir] .iHLo1, input, html[dir] ._1zcz2, html[dir] ._1mq8g, html[dir] ._3qlW9, html[dir] .TL5dU, html[dir] ._1iJeo, html[dir] ._2EYZY, html[dir] ._1VeYA ._3PmkG, html[dir] ._39pS-, html[dir] ._2zkF3, html[dir] ._66JgU, html[dir] ._1lIXT, html[dir] ._1jJLh, html[dir] .TYhk9, html[dir] .MS-DH::before, html[dir] .MS-DH._1baOM::after, html[dir] .MS-DH._1baOM::before, html[dir] .MS-DH._2-mCk:before, html[dir] .MS-DH._2-mCk:after, html[dir] ._2U_Zc::before, html[dir] .HnNfm, #startup, #initial_startup, html[dir] ._3FAwT, html[dir] ._3v_lq.j5Hcb, html[dir] .j5Hcb, html[dir] ._1XwnX, html[dir] ._2flas, html[dir] .Um7sh, #main header, html[dir] ._3pkkz, html[dir] ._3pkkz, html[dir] ._2tW_W, html[dir] ._3tlsa, html[dir] ._36ApL
{
background-color: transparent !important;
}

html[dir] ._3auIg, html[dir] ._3CPl4, html[dir] ._1NrpZ, html[dir] .message-out, html[dir] .message-in, html[dir] ._2MSJr, html[dir] ._2bXVy, ._1fkhx, html[dir] ._2vjPO, html[dir] .Uukb4, html[dir] ._3F6QL._16pR3, html[dir] .WX_XW, html[dir] ._3_R6X, html[dir] ._2FsQ8, html[dir] ._2NbD3, html[dir] ._1k6Uw, html[dir] ._1Plpp, html[dir] .YbzIC, html[dir] ._1ArIP, html[dir] ._1ArIP ._1v2rQ, html[dir] ._3kAJH
{
background-color: var(--mainBg) !important;
}

html[dir] ._1rPH1 .emojik:focus, html[dir] .emojik.selected
{
box-shadow: 0 0 0px 5px var(--alrt);
}

html[dir] ._1CRb5
{
transition: all .1s ease;
}

html[dir] .L89LI, html[dir] ._2Par4
{
border-radius: 7.5px !important;
}

html[dir] ._3AwwN, html[dir] ._28zBA._14ou2, ._2EXPL._1f1zm, ._2dA13, html[dir] ._1WZqU, html[dir] ._1o1sm:hover
{
background-color: var(--mainHvr) !important;
}

body, html[dir] .app, [data-asset-chat-background], html[dir="ltr"] .message-out .tail-container, html[dir] ._1i3Za, html[dir="ltr"] .message-in .tail-container, html[dir="ltr"] .message-in .tail-container.highlight, html[dir=ltr] ._1i1U7.jZ4tp, html[dir=rtl] ._1i1U7.jZ4tp, html[dir=ltr] ._1i1U7._2DNgV, html[dir=rtl] ._1i1U7._2DNgV, ._2i2ET, .ZScUN._3jw2f, html[dir="ltr"] .GpvML::before
{
background-image: none !important;
background: none !important;
}

[data-asset-intro-image]
{
background-image: url(https://i.imgur.com/RclcDDa.png) !important;
}

html[dir] ._1GX8_
{
/*[[doodles]]*/;
}

html[dir] ._3_7SH, html[dir] ._2uLFU, html[dir] .gQzdc._3sdhb, html[dir] ._1CRb5, html[dir] ._1WZqU:hover
{
box-shadow: none !important;
}

body
{
background-color: #040404!important;
background-image: url(/*[[bgImg]]*/) !important;
background-size: cover !important;
background-position: center !important;
}

html[dir] ._2MSJr, html[dir] .gQzdc::after, html[dir] ._2EXPL._1f1zm ._3j7s9, html[dir] ._3j7s9, html[dir] ._2EXPL:hover::after, html[dir] ._2EXPL._3df_h::after, html[dir] ._2EXPL._1f1zm::after, html[dir] ._3AwwN::after, html[dir="ltr"] ._3AwwN, html[dir="ltr"] ._1fkhx, html[dir] ._1CkkN + ._1CkkN ._10xEB, html[dir] ._1CkkN:hover + ._1CkkN:before, html[dir] ._2bXVy, html[dir] .TYhk9, html[dir="ltr"] .three ._2yeJ5, html[dir] ._14oqx + ._14oqx .DcItJ, html[dir] ._3YwRO, html[dir] ._3_3Rs, html[dir] ._1mq8g, html[dir] ._3Qh77, html[dir="ltr"] ._3oju3, html[dir="ltr"] ._3F6QL._2WovP ._2S1VP, html[dir] ._1Plpp, html[dir="ltr"] ._1JbDr, html[dir="ltr"] ._2WvMb:first-child
{
border: 0 !important;
}

html[dir] ._2NQtS, html[dir] ._22cMG.fS1bA .nDKsM
{
background-color: var(--txtIcns) !important;
}

svg path:nth-child(2n), [data-icon=default-user] > svg:nth-child(1) > path:nth-child(1), [data-icon*=chevron-] > svg:nth-child(1) > path:nth-child(1)
{
fill: var(--mnuPnls) !important;
fill-opacity: 1 !important;
opacity: 1 !important;
}

svg path:nth-child(2n+3), g:nth-child(2) > path:nth-child(1), .LQEjW > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1), ._2fJ2T > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1), svg path:nth-child(2n+1), [data-icon*=emoji-] > svg > path, ._2G3cZ > span:nth-child(1) > svg:nth-child(1) > path:nth-child(2)
{
fill: var(--txtIcns) !important;
fill-opacity: 1 !important;
opacity: 1 !important;
}

svg:hover path
{
opacity: 1 !important;
}

progress
{
background-color: var(--txtIcns) !important;
}

._3wPo6
{
background-color: var(--txtIcns) !important;
}

progress[value]::-webkit-progress-bar
{
background-color: var(--txtIcns) !important;
}

progress[value]::-webkit-progress-value
{
background-color: var(--alrt) !important;
}

progress[value]::-moz-progress-bar
{
background-color: var(--alrt) !important;
}

html[dir] ._2EZ_m
{
padding: 1em !important;
background-color: var(--txtIcns) !important;
}

.spinner-path, .Qf313, ._2wGBy, ._3AnXT
{
stroke: var(--txtIcns) !important;
}

html[dir] ._1sB6s, html[dir] ._3dGYA, html[dir] .MwhOx, html[dir] ._1UvQg, html[dir] ._298R6, html[dir] ._3S8Q-, html[dir] .Zq3Mc, html[dir] ._2fq0t, html[dir] ._2uLFU, html[dir] ._1CnF3, html[dir] .L89LI, html[dir] ._3v_lq.j5Hcb, ._2dwaZ, html[dir] ._3sacU, ._3S8hp, html[dir] ._34Sa-, ._3OHGh, html[dir] ._35DHA, html[dir] .ao2gD, html[dir] ._2YdsD, html[dir] ._2Par4, html[dir] ._1UbeR, ._1vDUw .RLfQR, html[dir] ._2HBs4
{
background-color: var(--mnuPnls) !important;
color: #ffffff !important;
}

.me9CP, html[dir] ._2e8Mu
{
border-color: var(--mnuPnls) !important;
}

html[dir] ._31WRs ._1DTd4, .me9CP, html[dir] ._2e8Mu
{
border-color: var(--txtIcns) !important;
}

html[dir] ._3qlW9::after
{
border-color: var(--alrt)!important;
}

._2548U, ._1qi0v, ._1WZqU.PNlAR
{
color: #ffffff !important;
}

._1qi0v, ._1WZqU.PNlAR
{
font-weight: 700 !important;
}

[data-icon=status-dblcheck-ack] > svg:nth-child(1) > path:nth-child(1), [data-icon=status-ptt-blue] > svg:nth-child(1) > path:nth-child(1), [data-icon=msg-dblcheck-ack] > svg:nth-child(1) > path:nth-child(1)
{
fill: var(--alrt) !important;
}

.vdXUe
{
color: #ffffff  !important;
}

html[dir] .OUeyt, html[dir] .YGHyX
{
background-color: var(--alrt) !important;
}

._3T2VG, [class*=emojik], [data-icon]
{
opacity: .6 !important;
transition: all .1s ease;
}

[class*=emojik]:hover, [data-icon]
{
opacity: 1 !important;
}

button.GK4Lv svg path:nth-child(2n), button.GK4Lv svg path:nth-child(2n+1), ._1jjYO > span:nth-child(1) > svg:nth-child(1) > path:nth-child(3)
{
fill-opacity: 1 !important;
opacity: 1 !important;
fill: var(--mnuPnls) !important;
}

._3CSsZ svg path:nth-child(2n+1)
{
fill-opacity: 0 !important;
opacity: 0 !important;
}

li._10anr > button > span > svg > path:nth-child(5), ._1jjYO > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1)
{
fill-opacity: 1 !important;
opacity: 1 !important;
fill: var(--txtIcns) !important;
}

.app-wrapper-web ._3dqpi
{
height: 100% !important;
top: 0 !important;
width: 100% !important;
}

._1bX-5, ._1wjpf._3NFp9
{
opacity: .55 !important;
}

html[dir] ._2jVLL
{
background-color: transparent !important;
}

.iHhHL
{
font-size: 20px !important;
font-weight: 700 !important;
text-transform: uppercase !important;
}

html[dir] .Zq3Mc
{
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
} /*[[privacyMode]]*/ /*[[fullscreen]]*/ /*[[ui]]*/;
